[submodule "Quiver"]
	path = Quiver
	url = git@github.com:quiverproject/quiver.git
	fetchRecurseSubmodules = true
[submodule "qml/BSComponents"]
	url = git@github.com:bscm/BSComponents.git
	path = qml/BSComponents
	fetchRecurseSubmodules = true
[submodule "qml/com.afmx.debug"]
	url = git@github.com:julianguarinautoformax/qml-debug-tool.git
	path = qml/com.afmx.debug
	fetchRecurseSubmodules = true
